*/__pycache__
*/__pycache__/*

*~
*.lnk

*.pyc
*.bak

build/
dist/
hapi2.egg-info/

showcase/local
showcase/.ipynb_checkpoints/
showcase/config.json
showcase/server_info.json
showcase/~tmp/

tests/*
!tests/*.py
